@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: Tenada;
    src: url(../font/Tenada.woff);
    font-weight: 400;
}
@font-face {
    font-family:MBK CorpoA;
    src: url(../font/MBKCorpoA.otf);
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    font:12px 'Noto Sans KR','맑은 고딕', '돋움', sans-serif; 
    color:#4B4B4B;
}

.wrapper {
    width: 100%;
    header {
        margin: 0 auto;
        width: 100%; height: 105px;
        background-color: #000;
        nav {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 1200px; height: 100%;
            h1 {
                width: 275px;
                height: 100%;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/logo.png) no-repeat center center;
                }
            }
            ul {
                line-height: 105px;
                font-size: 0;
                letter-spacing: 0;
                word-spacing: 0;
                li {
                    display: inline-block;
                    &::after {
                        content: '|';
                        font-size: 20px;
                        padding: 0 20px;
                        color: red;
                    }
                    &:last-child::after {
                        content: '';
                    }
                    &:hover {
                        a {
                            color: #980000;
                        }
                    }
                    a {
                        font-family: Tenada, sans-serif;
                        font-size: 15px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .main_imgBox {
        margin: 0 auto;
        width: 100%; height: 530px;
        .main_img {
            position: relative;
            width: 100%; height: 100%;
            background: url(../img/b1.png) no-repeat center center;
        }
        .sub_img {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 60px; right: 285px;
            letter-spacing: 5px;
            &>span:first-of-type {
                font-family: "MBK CorpoA";
                font-size: 20px;
                color: #ccc;
            }
            &>span:last-of-type {
                font-family: "MBK CorpoA";
                font-size: 35px;
                color: #fff;
            }
        }
    }
    main {
        margin: 0 auto;
        position: relative;
        top: -70px;
        width: 1112px; height: 370px;
        display: grid;
        grid-template-columns: 323px 255px 222px 313px;
        grid-template-rows: 185px 185px;
        article {
            .box {
                position: relative;
                padding: 10px 0 0 10px;
                .line {
                    display: inline-block;
                    width: 3px; height: 20px;
                    background-color: #fff;
                }
                .small {
                    position: absolute;
                    top: 2px;
                }
                strong {
                    color: #f7f1bd;
                    b {
                        color: #fff;
                    }
                }
            }
            &:nth-child(1) {
                background-color: #2d2d2d;
                position: relative;
                ul {
                    margin-top: 18px;
                    width: 100%;
                    li {
                        padding-left: 15px;
                        line-height: 22px;
                        a {
                            transition: 0.5s;
                            &:hover {
                                color: #f7f1bd;
                                margin-left: 5px;
                                &::before{
                                    content: '→';
                                    color: red;
                                    padding-right: 5px;
                                }
                            }
                        }
                    }
                }
                & > a {
                    position: absolute;
                    top: 10px; right: 10px;
                    color: #fff;
                    font-size: 10px;
                }
            }
            &:nth-child(2) {
                position: relative;
                background-color: #fff;
                background: url(../img/art2_back.png) no-repeat;
                background-size: cover;
                .img_box {
                    img {
                        opacity: 0;
                        position: absolute;
                        bottom: 0;
                    }
                    .figure1 {
                        left: 0;
                        transition: 0.5s;
                    }
                    .figure2 {
                        right: 0;
                        transition: 0.5s 0.5s;
                    }
                }
                .triangle {
                    position: absolute;
                    opacity: 0.5;
                    top: 0; right: 0;
                    transition: 0.5s;
                    a {
                        position: absolute;
                        top: 2px; right: 12px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                &:hover {
                    .triangle {
                        opacity: 1;
                    }
                    .figure1 {
                        z-index: 11;
                        left: 80px;
                        opacity: 1;
                    }
                    .figure2 {
                        right: 60px;
                        opacity: 1;
                    }
                }
            }
            &:nth-child(3) {
                position: relative;
                overflow: hidden;
                background-color: #000;
                .box {
                    z-index: 10;
                    position: absolute;
                }
                .back_img {
                    opacity: 0.5;
                    width: 100%; height: 100%;
                    background: url(../img/art3img.png) no-repeat;
                    background-size: cover;
                    transition: 0.5s all;
                }
                .triangle {
                    position: absolute;
                    opacity: 0.5;
                    top: 0; right: 0;
                    transition: 0.5s;
                    a {
                        position: absolute;
                        top: 2px; right: 12px;
                        font-size: 20px;
                        font-weight: bold;
                        color: red;
                    }
                }
                &:hover {
                    .triangle {
                        opacity: 1;
                    }
                    .back_img {
                        opacity: 1;
                        transform: scale(120%);
                    }
                }
            }
            &:nth-child(4) {
                background-color: #4c4c4c;
                position: relative;
                .search_box {
                    padding: 20px;
                    div {
                        width: 100%; padding: 5px;
                        background-color: #fff;
                        text-align: center;
                        margin-bottom: 20px;
                        &:last-of-type {
                            margin-bottom: 10px;
                        }
                        input {
                            width: 80%; padding: 3px;
                            outline: none;
                            border: none;
                        }
                    }
                    button {
                        cursor: pointer;
                        position: absolute;
                        padding: 5px 15px;
                        background-color: red;
                        color: #fff;
                        border: none;
                        letter-spacing: 3px;
                        font-weight: bold;
                        bottom: 10px; right: 20px;
                    }
                }
            }
            &:nth-child(5) {
                position: relative;
                background-color: #fff;
                border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                .line {
                    background-color: #980000;
                }
                strong {
                    color: #980000;
                    b {
                        color: #686868;
                    }
                }
                .text_box {
                    width: 50%;
                    margin: 10px 0 0 20px;
                    margin-left: 20px;
                    h2 {
                        color: #000;
                        font-size: 13px;
                        line-height: 15px;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 5px;
                        line-height: 15px;
                    }
                    a {
                        &:first-of-type {
                            display: inline-block;
                            background-color: #000;

                            color: #fff;
                        }
                        b {
                            background-color: #686868;
                            font-weight: 100;
                        }
                    }
                }
                .novel {
                    position: absolute;
                    right: 10px; top: 50%; 
                    transform: translateY(-50%);
                }
            }
            &:nth-child(6) {
                background-color: #fff;
                border-bottom: 1px solid #ccc;
                .line {
                    background-color: #980000;
                }
                strong {
                    color: #980000;
                    b {
                        color: #686868;
                    }
                }
                h2 {
                    width: 230px;
                    margin: 0 auto;
                    font-size: 12px;
                    color: #000;
                    span {
                        font-size: 8px;
                        color: #4B4B4B;
                        font-weight: 400;
                    }
                }
                .star {
                    width: 230px;
                    margin: 0 auto;
                    strong {
                        margin-left: 10px;
                        color : #000;
                    }
                    .score {
                        font-size: 8px;
                        color: #4b4b4b;
                        margin-right: 10px;
                    }
                    .score_txt {
                        font-size: 12px;
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
            &:nth-child(7) {
                position: relative;
                overflow: hidden;
                background-color: #000;
                .box {
                    z-index: 10;
                    position: absolute;
                }
                .back_img {
                    opacity: 0.5;
                    width: 100%; height: 100%;
                    background: url(../img/art7img.png) no-repeat;
                    background-size: cover;
                    transition: 0.5s;
                }
                &:hover {
                    .back_img {
                        opacity: 1;
                    }
                    .play {
                        opacity: 1;
                    }
                }
                .play {
                    opacity: 0.5;
                    position: absolute;
                    transition: 0.5s;
                    top: 50%; right: 50%;
                    transform: translate(50%, -50%);
                }
            }
            &:nth-child(8) {
                position: relative;
                background-color: #fff;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                .line {
                    background-color: #980000;
                }
                strong {
                    color: #980000;
                    b {
                        color: #686868;
                    }
                }
                .text_box {
                    width: 50%;
                    text-align: right;
                    margin: 10px 0 0 20px;
                    // margin-right: 20px;
                    h2 {
                        color: #000;
                        font-size: 13px;
                        line-height: 15px;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 5px;
                        line-height: 15px;
                    }
                    a {
                        &:first-of-type {
                            display: inline-block;
                            background-color: #000;

                            color: #fff;
                        }
                        b {
                            background-color: #686868;
                            font-weight: 100;
                        }
                    }
                }
                .novel {
                    position: absolute;
                    right: -10px; top: 50%; 
                    transform: translateY(-50%);
                }
            }
        }
    }
    section {
        position: relative;
        top: -35px;
        margin: 0 auto;
        width: 1150px; height: 64px;
        .slide {
            width: 100%;        
        }
        span {
            cursor: pointer;
            position: absolute;
            width: 50px; height: 30px;
        }
        .pre {
            top: 50%; left: -50px;
            padding: 10px;
            transform: translateY(-50%);
        }
        .next {
            top: 50%; right: -50px;
            padding: 10px;
            transform: translateY(-50%);
        }
    }
    footer {
        width: 100%; height: 120px;
        background-color: #000;
        padding: 30px 0;
        .footer_container {
            display: flex;
            justify-content: space-between;
            width: 1400px; height: 100%;
            margin: 0 auto;
            .flexBox {
                width: 100%; height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin-left: 80px;
                    color: #fff;
                    a {
                        &:hover {
                            color: #ff0000;
                        }
                    }
                }
                .icon_box {
                    display: flex;
                    justify-content: flex-end;
                    a {
                        display: block;
                        margin-right: 10px;
                        color: rgb(94, 94, 94);
                        &:last-child {
                            margin: 0;
                        }
                        &:hover {
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}