* {
    margin: 0; padding: 0;
    text-decoration: none; list-style: none;
    box-sizing: border-box; color: #000;
}
$full_width : 100vw;
$full_height : 100vh;
$line_height : 50px;

header {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    z-index: 1;
    width: $full_width; height: 10vh;
    background-color: rgba(192, 146, 116, 0.5);
    // login -----------------------------
    .login {
        width: 60vw; line-height: $line_height / 3;
        margin: auto;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                display: inline-block;
                &:last-child a {
                    padding-right: 20px;
                    border-style: none;
                }
                a {
                    padding: 0 20px;
                    color: rgb(104, 103, 103);
                    font-size: 12px;
                    border-right: 1px solid rgb(156, 156, 156);

                }
            }
        }
    }

    // nav -------------------------------
    nav {
        display: flex;
        justify-content: space-between;
        width: 60vw;
        margin: auto;
        line-height: $line_height;
        li {
            padding: 0 20px;
            display: inline-block;
        }
    }
}

main {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    width: $full_width; height: $full_height;
    background: url('https://cdn.pixabay.com/photo/2015/12/06/20/10/christmas-bauble-1079926_960_720.jpg') no-repeat center;
    background-size: cover;
}